@font-face {
  font-family: "ElegantIcons";
  src: url("../fonts/ElegantIcons.eot");
  src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ElegantIcons.woff") format("woff"),
    url("../fonts/ElegantIcons.ttf") format("truetype"),
    url("../fonts/ElegantIcons.svg#ElegantIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(90grad, #cff0ff 0%, #d0d0d0 100%);
}
* {
  box-sizing: border-box;
}
.circle {
  display: block;
  height: 167px;
  width: 167px;
  border-radius: 50%;
  margin: 0 auto;
  transition: 0.7s;
  top: 20px;
  position: relative;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.link1 a {
  font-family: ElegantIcons, sans-serif;
  color: black;
  font-size: 30px;
  text-decoration: none;
  position: relative;
  left: 42%;
  top: 220px;
  z-index: 1;
  transition: 0.2s;
}
.link1 a:hover {
  color: rgb(14, 119, 93);
  text-shadow: #263138 0 3px;
}
.images {
  display: block;
  height: 140px;
  width: 140px;
  margin: 0 auto;
  top: -133px;
  position: relative;
  transition: 0.7s;
  filter: grayscale(1);
}
.images:hover {
  filter: grayscale(0);
}
.container {
  display: block;
  width: 600px;
  height: 260px;
  margin: 0 auto;
  font-family: "Yu Gothic UI", sans-serif;
  font-style: italic;
  background: rgba(255, 255, 255, 0.57);
}
.about {
  background: rgba(255, 255, 255, 0.57);
  display: block;
  width: 600px;
  height: 360px;
  margin: 0 auto;
  font-family: "Yu Gothic UI", sans-serif;
}
.text {
  color: #333333;
  width: 400px;
  height: 50px;
  display: flex;
  font-size: 20px;
  align-items: center;
  align-content: center;
  position: relative;
  padding: 0;
  margin: 0 auto;
  bottom: 120px;
  left: 70px;
}
.about h1 {
  color: #333333;
  width: 400px;
  height: 50px;
  display: flex;
  font-size: 30px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  top: 30px;
  left: 100px;
}
.about p {
  color: #333333;
  width: 400px;
  height: 50px;
  display: flex;
  font-size: 16px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  top: 40px;
  left: 27px;
}
.ulone {
  width: 400px;
  height: 200px;
  color: #333333;
  font-size: 16px;
  top: 30px;
  left: 100px;
  position: relative;
}
.ultwo {
  width: 400px;
  height: 200px;
  color: #333333;
  font-size: 16px;
  top: -185px;
  left: 410px;
  position: relative;
}
.tilde {
  display: flex;
  position: relative;
  top: 55px;
  left: -150px;
}
.info {
  font-family: "Candara", sans-serif;
  font-size: 11px;
  color: rgba(17, 8, 8, 0.55);
  position: relative;
  left: 48.5%;
  top: 1px;
  height: 50px;
  width: 100px;
}
