* {
  margin: 0px;
  padding: 0px;
}
body {
  background: lightblue;
}
.main_heading {
  text-align: center;
  margin-top: 10px;
  border-bottom: 5px solid blue;
  border-radius: 50%;
}
.main_block {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_text_block {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.to_right {
  background: linear-gradient(to right, white 50%, lightblue);
}
.to_left {
  background: linear-gradient(to left, white 50%, lightblue);
}
.block,
.text_block {
  margin-left: 20px;
}
.text_block {
  width: 50%;
}
.block p {
  font-weight: bold;
  font-family: cursive;
  font-size: 20px;
}
.text_block p {
  font-family: cursive;
  font-weight: bold;
}
.text_block p span {
  font-weight: normal;
  font-family: serif;
}
.block img {
  border-bottom: 1px solid black;
  border-radius: 20%;
  height: 300px;
}
.block a img {
  height: 50px;
  margin-left: 10px;
  transition: 1s;
}
.block a img:hover {
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.5);
}
li {
  margin-top: 10px;
}
